@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tourney:wght@700&display=swap');

/*Background*/
body{
    background-image: url(../images/main-bg.jpg);
    background-size: cover;
}

/*Header div and side menu / hamburger menu*/
h1{
    text-align: center;
    font-family: Tourney, sans-serif;
    font-size: 50px;
    margin: 0 auto; 
    padding: 20px;
    color: #dd99ff;
    text-shadow: 1px 1px 2px black, 0 0 1em #0000ff, 0 0 0.2em blue;
}

.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #dd99ff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidebar a {
    padding: 32px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-family: Tourney, sans-serif;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover{
    color: white;
}

.sidebar, .close-btn{
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
}
.open-btn{
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: #dd99ff;
    color: black;
    padding: 10px 15px;
    border: none;
    position: fixed;
    margin-left: 150px;
    margin-top: 25px;
    border-radius: 20px;
    font-size: 30px;
    box-shadow: 1px 1px 2px black, 0 0 1em #0000ff, 0 0 0.1em blue;
}

.open-btn:hover{
    color: #dd99ff;
}
#main{
    transition: margin-left .5s;
    padding: 16px;
}

/* start-page and buttons */
.menu-container{
    background-color: rgba(255, 230, 242, 0.6);
    width: 50%;
    height: 60vh;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.how-to-btn, .start-game-btn {
    text-align: center;
    padding: 2%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: #dd99ff;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    box-shadow: 1px 1px 2px black, 0 0 1em #0000ff, 0 0 0.1em blue;   
}
.how-to-btn a, .start-game-btn a{
    font-size: 25px;
    font-family: Tourney, sans-serif;
    text-decoration: none;
    color: black;
    justify-content: center;
}
.how-to-btn:hover, .start-game-btn:hover, .back:hover{
    cursor: pointer;
    background-color: #b31aff;
}

/*Styling for "How to play" page and the "back" button*/
.how-to-text{
    font-size: 18px;
    font-family: Roboto, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
}
.back{
    text-align: center;
    padding: 2%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: #dd99ff;
    border-radius: 20px;
    width: 100px;
    height: 20px;
    font-size: 18px;
    font-family: Tourney, sans-serif;
    text-decoration: none;
    color: black;
    box-shadow: 1px 1px 2px black, 0 0 1em #0000ff, 0 0 0.1em blue;  
}

/*Styling for "choose player page */
h2{
    font-size: 30px;
    font-family: Tourney, sans-serif;
    text-align: center;
}
h3{
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.ship-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 1rem;
    justify-content: space-around;
}
.player{
    text-decoration: none;
    color: black;
    background: border-box;
    border: none;
    cursor: pointer;
    flex-direction: column;
    text-align: center;
    padding: 2%;
    border-radius: 20px;  
    background-color: rgba(0,0,0,0.3);
    width: 90px;
    height: 90px;
    
}
.hover img{
    margin-left: 20px;
    margin-top: 20px;
}
#start-game button{
    font-family: Roboto, sans-serif;
    font-size: 10px;
    padding: 1%;
    
    text-decoration: none;
    color: black;
    flex-direction: column;
}

.hover:hover{
    background-color: rgba(255, 230, 242, 0.4);
    border-radius: 20px;
    box-shadow: 1px 1px 2px black, 0 0 1em #0000ff, 0 0 0.2em blue;
}
#start-game{
    text-align: center;
    height: 100%;
}
/*Style for the gameboard (gameboard + background, score,
player, obstacle(comets) and money*/
#gameboard{
    width: 25em;
    height: 30em;
    display: flex;
    border: 1px solid black;
    background-image: url(../images/spacebg.png);
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 1px 1px 2px black, 0 0 1em #0000ff, 0 0 0.1em blue;
}
#score{
    font-family: Roboto, Touney;
    color: #dd99ff;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px black, 0 0 1em #0000ff, 0 0 0.2em blue;
}

#player{
    width: 50px;
    height: 50px;
    position: absolute;
    pointer-events: none;
    top: 26em;
    left:50%;  
}
#obstacle{
    width: 55px;
    height: 55px;
    position: absolute;
    pointer-events: none;
    top: 0px;
    left:50%;
}
.comets{
    width: 55px;
    height: 55px;
    position: absolute;
    background: url(../images/comet.png);
    background-repeat: no-repeat;
    background-size: cover;    
}
.money{
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url(../images/money.png);
    background-repeat: no-repeat;
    background-size: cover;
}
/*game over box with play again style*/
#game-over{
    width: 15em;
    height: 10em;
    display: flex;
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    background-color: #dd99ff;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 1px 1px 2px black, 0 0 1em #0000ff, 0 0 0.1em blue;    
}
#game-over  p{
    font-size: 25px;
    font-family: Tourney;
}
.play-again {
    font-family: Roboto, Touney;
    margin-top: 20px;
    margin-right: 5px;
    font-size: 25px;
    color: black;
    text-decoration: none; 
}
.play-again:hover{
    cursor: pointer;
    color: white;
}

/*Style for the footer section*/
footer{
    width: 100%;
    height: 35px;
    }
    
.footer-text {
    font-size: 16px;
    font-family: Robota, sans-serif;
    text-align: center;
    color: #dd99ff;
}

.social-div {
    text-align: center;
    font-size: 25px;
    margin: 0 auto;    
}
.social-media {
    text-align: center;
    padding: 20px;
    color: #dd99ff;   
}
.social-media i{
    text-shadow: 1px 1px 2px black, 0 0 1em #0000ff, 0 0 0.2em blue;
    font-size: 35px;
}

.social-media:hover{
    color: #8a2be2;
}
@media screen and (max-width: 960px){
 .menu-container{
     width: 80%;
}
.open-btn{
    margin-left: 0px;
}
}
/*Styling for small screens with max width 700px*/
@media screen and (max-width: 700px){

    .menu-container{
        width: 100%;
    }
    .open-btn {
        width: 35px;
        height: 35px;
        padding: 0px; 
        margin-left: 0px; 
        margin-top: 0px; 
        border-radius: 10px;
        font-size: 20px;
        position: relative;
    }
    #start-game p{
        font-family: Roboto, sans-serif;
        font-size: 14px;  
    }

    #gameboard{
        width: 22em;
        height: 30em;
    }
    .headline {
        font-size: 50px;
    }
    .how-to-text{
        font-size: 15px;
        padding: 5px;
    }
    #score{
        margin: 10px;
    }
    #main{
    padding: 0px;
    }

}
/*Style for smaller screens up to 340px*/
@media screen and (max-width: 340px) and ( min-height: 480px){
    .headline {
        font-size: 30px;
    }

    h1{
        font-size: 40px;
    }
    .menu-container{
        height: fit-content;
    }
    .how-to-container{
        background-color: rgba(255, 230, 242, 0.4);
        width: 100%;
        height: 90vh;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;
        flex-direction:column;
        justify-content: center;
    }
    #start-game p{
        margin: 0px;
    }
    #start-game button{
        margin: 5px;
    }
    #gameboard {
        width: 19em;
        height: 30em;
    }
    .headline{
        padding: 0px;
        font-size: 35px;
     }
     .social-media i {
         font-size: 25px;
     }
}