@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tourney:wght@700&display=swap');
*{

    overflow: hidden;
    
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(../assets/images/main-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

h1{
    font-family: Tourney, sans-serif;
    font-size: 45px;
    padding: 1%;
    margin-top: 20px;
    text-align: center;
    color: #dd99ff;
}

.menu-container{
   
   

    background-color: rgba(255, 230, 242, 0.4);
    width: 50%;
    height: 60vh;
    margin: 0 auto;
    border-radius: 10px;
}
.how-to-btn, .start-game-btn {
    text-align: center;
    padding: 2%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    background-color: #dd99ff;
    border-radius: 20px;
    width: 50%;
    
    
}
a{
    font-family: Roboto, sans-serif;
    font-size: 25px;
    padding: 2%;
    margin: 10px;
    text-decoration: none;
    color: black;

}
.how-to-btn:hover, .start-game-btn:hover{
    cursor: pointer;
    background-color: #b31aff;
}


.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    border: 1px solid black;
    width: 25em;
    margin: 0 auto;

}
.score-div {
   padding: 1%;
    font-family: Roboto, Touney;
   
}
#start-game{
    text-align: center;
    height: 100%;
}

h2{
    font-size: 30px;
    font-family: Tourney, sans-serif;
    text-align: center;
}
.ship-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 4rem;
    justify-content: space-around;
}
#start-game p{
    font-family: Roboto, sans-serif;
    font-size: 18px;
    padding: 1%;
    margin: 1rem;
}
.hover{
    text-align: center;
    padding: 2%;
    border-radius: 20px;
}
.hover:hover{
    background-color: rgba(255, 230, 242, 0.4);
}
/*game over*/
#game-over{
    width: 15em;
    height: 10em;
    display: flex;
    margin-top: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    background-color: blueviolet;
    border-radius: 10px;
    z-index: 2;
    
}
/*gameboard*/
#gameboard{
    width: 25em;
    height: 30em;
    display: flex;
    border: 1px solid black;
    background-image: url(../assets/images/spacebg.png);
    background-repeat: no-repeat;
    position: relative;
    cursor: none;
    margin: 0 auto;
}

#player{
    width: 50px;
    height: 50px;
    position: absolute;
    pointer-events: none;
    top: 400px;
    left:50%;
    
}

#obstacle{
    width: 55px;
    height: 55px;
    position: absolute;
    pointer-events: none;
    top: 0px;
    left:50%;
}

.comets{
    width: 55px;
    height: 55px;
    position: absolute;
    background: url(../assets/images/comet.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#obstacle{
    width: 30px;
    height: 30px;
    position: absolute;
    pointer-events: none;
    top: 0px;
    left:50%;
}
.money{
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url(../assets/images/money.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer{

width: 100%;
height: 35px;
}

.footer-text {
    font-size: 16px;
    font-family: Robota, sans-serif;
    text-align: center;
    color: white;
}
@media screen and (max-width: 960px){

}

