@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tourney:wght@700&display=swap');
*{
    overflow: hidden;
    
}
.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    border: 1px solid black;
    width: 25em;
    margin: 0 auto;

}
.score-div {
   padding: 1%;
    font-family: Roboto, Touney;
   
}
#game-over{
    width: 15em;
    height: 10em;
    display: flex;
    margin-top: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    background-color: blueviolet;
    border-radius: 10px;
    z-index: 2;
    
}

#gameboard{
    width: 25em;
    height: 30em;
    display: flex;
    border: 1px solid black;
    background-image: url(../assets/images/spacebg.png);
    background-repeat: no-repeat;
    position: relative;
    cursor: none;
    margin: 0 auto;
}

#player{
    width: 50px;
    height: 50px;
    position: absolute;
    pointer-events: none;
    top: 400px;
    left:50%;
    
}

#obstacle{
    width: 55px;
    height: 55px;
    position: absolute;
    pointer-events: none;
    top: 0px;
    left:50%;
}

.comets{
    width: 55px;
    height: 55px;
    position: absolute;
    background: url(../assets/images/comet.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#obstacle{
    width: 30px;
    height: 30px;
    position: absolute;
    pointer-events: none;
    top: 0px;
    left:50%;
}
.money{
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url(../assets/images/money.png);
    background-repeat: no-repeat;
    background-size: cover;
}